/* *{
    box-sizing: border-box;
} */
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    line-height: 2;
    /* font-family: Arial, Helvetica, sans-serif; */
}
header {
    height: 80px;
    background-color: #ffffff;
    /* padding:20; */
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc; 
}
#heading {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    background:#4aaaa5;
    top: 0px;
    padding: 25px 10px; 
    text-align: center;
    margin-left: 75px;
    color: #ffffff;
    float: left;
}
body {
    padding: 0;
}
#container {
    /* background-color: grey; */
    /* background-image: url('assets/images/concrete_seamless.png'); */
    /* background-image: url('..\images\concrete_seamless.png'); */
    background-image: url('../images/concrete_seamless.png');
    width: 100%;
    display: block;
    padding-top: 30px;
    padding-bottom: 80px;

}
#innerSection {
     
    width: 960px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px;
}
h1{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 32px;
    font-weight: bold;
}
#aboutMeTitle{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
}

#myPhoto {
    width: 200px;
    height: 200px;
    float: left; 
    padding-right: 20px;
    padding-bottom: 20px;

}
#navigation{
    list-style-type: none;
    margin: 0;
    padding: 27px;
    overflow: hidden; 
    right: 75px;
}
/* li :after {
    content: "|";
    padding: 0 10px 0 10px;
    
}
li :last-child {
    content: "";
}  */

li+li{
    border-right: 1px solid #777777;
    /* content: "|";
    padding: 0 10px 0 10px;    */
}
li{
    float: right;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #777777;
    padding: 16px;
}
footer{
    position: sticky;
    text-align: center;
    padding: 15px;
    background: #666666;
    color: #ffffff;
    border-top-style: solid;
    border-top-width:7px;
    border-top-color: #4aaaa5; 
}